*.la
*.a
*.so
*.lo
*.pyc
*.xpt
*.o
.deps
.libs
*~
*.gen.cpp
*.gen.hpp
libtool
stamp-h1
testCeLEDS
CellML2C
CellML2Matlab
CellML2Python
CustomGen
Makefile
Makefile.in
RunCellML
RunSEDML
ValidateCellML
aclocal.m4
autom4te.cache
cda_config.h
config.status
configure
interfaces/CGRS*.cpp
interfaces/CGRS*.cxx
interfaces/CGRS*.hxx
simple_interface_generators/glue/xpcom/IWrappedPCM.h
.dirstamp
RunTestBin
docs/api/html
javacp
javatestcp
libltdl
interfaces/*.java
interfaces/*.cpp
interfaces/*.hxx
examples/.metadata
examples/javaexample*.class
cellml.jar
*.iml
*.ipr
*.iws
interfaces/docs
*.tab.cc
*.tab.hh
TAGS
TeLICeMScanner.cpp
TestTeLICeMParser$
TestTeLICeMSerialiser$
cellml-sdk*.tar.bz2
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
javagen
DartConfiguration.tcl
Testing/Temporary
CTestTestfile
install_manifest.txt
extdep/libxml/xml2_config.h
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
TeLICeMParse.genf.cpp
test_celeds_output
cgrs-*-init.cpp
cgrspy
\#*\#
interfaces/CGRS
interfaces/SProS
interfaces/SRuS
interfaces/cellml_api
interfaces/cellml_events
interfaces/cellml_services
interfaces/dom
interfaces/events
interfaces/mathml_dom
interfaces/pjm2pcm
interfaces/rdf_api
interfaces/xpath
TestTeLICeMParser
TestTeLICeMSerialiser
examples/RDFContainers
examples/api_usage_example
interfaces/cellml_context
*.so.*
mytest
test_output*
docs/Doxyfile
docs/html
docs/man

